body{
 background-image: url(../images/Hot-Toys-Iron-Man-Mark-4-2.jpg);
 background-size: cover;
 text-align: center;
}
h1{
color: yellow;
}
h2{
    color: crimson;
    border-radius: 2em;
    border-color: yellow;
}
.buttons{
    text-align: center;
    size: 4em;
}
button{
    color: blue;
}
